:root {
  --main-white: #f0f0f0;
  --main-reddish-orange: #f8673b;
  --main-blue: #45567d;
  --main-gray: #3f4351;
}
html,
body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}
.navbar-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in-out;
  z-index: 9;
}
.navbar-section .navbar-nav li .nav-link:hover {
  transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}
.navbar-section .navbar-nav li .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.14px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #f8673b,
    #f8673b 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  position: relative;
  font-weight: 600;
  padding: 0 2rem 0rem 0rem;
}
.navbar-section-others {
  background: rgb(0, 0, 0);
}
.navbar-section-others .navbar-nav li .nav-link {
  color: #fff;
}
.navbar-section-others .navbar-nav li .nav-link:hover {
  transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}
.navbar-section-others .navbar-nav li .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.14px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #f8673b,
    #f8673b 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  position: relative;
  font-weight: 600;
  padding: 0 2rem 0rem 0rem;
}
.text-reddish-orange {
  color: var(--main-reddish-orange);
}
.bg-reddish-orange {
  background-color: var(--main-reddish-orange);
  color: #fff;
}
.bg-reddish-orange:hover {
  background-color: var(--main-reddish-orange);
  color: #fff;
}

.material-search span {
  cursor: pointer;
}

.login-section {
  height: 100%;
  position: relative;
  background: #131313;
  background: linear-gradient(to bottom, #131313 0%, #4c4c4c 100%);
  background: -ms-linear-gradient(to bottom, #131313 0%, #4c4c4c 100%);
  padding: 5rem 0rem;
}
.login-infograpy {
  background-image: url("../assets/images/bike-infografy-login.png");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: auto;
  background-position: left 10rem;
  background-repeat: no-repeat;
}
.banner-title {
  color: #ffffff;
  font-family: "Bebas Neue", serif;
  font-size: 6rem;
  letter-spacing: 5px;
  line-height: 2rem;
  margin-bottom: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
.banner-title .typ-1 {
  z-index: 2;
  position: relative;
}
.banner-title .typ-2 {
  margin-top: 2rem;
  z-index: 0;
  opacity: 0.6;
}
.cont-wrap {
  width: 33%;
  position: absolute;
  left: 15%;
  top: 10rem;
}
.cont-wrap .desc {
  font-size: 18px;
  color: #b2b2b2;
}

.bs-box {
  width: 100%;
  background: #2c2c2c;
  background: linear-gradient(to bottom, #2c2c2c 0%, #434548 100%);
  padding: 4rem 5rem;
  border-radius: 0.64rem;
  box-shadow: 0 0 39px 14px rgba(0, 0, 0, 0.3);
  z-index: 111;
  position: relative;
  color: #fff;
}

.bs-box input::placeholder {
  color: #979797 !important;
}
.bs-box label {
  font-size: 14px;
  margin-bottom: 0;
}
.bs-box input {
  color: #fff !important;
  padding: 4px 0px;
  font-size: 16px;
}
.bs-box span {
  color: #979797;
  margin-right: 5px;
  font-size: 14px;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.login-via label {
  position: relative;
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
}
.login-via label span {
  background: #3f4144;
  padding: 0 0.5rem;
  position: relative;
  z-index: 2;
  color: #ffffff;
}
.login-via label::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 60%;
  width: 100%;
  height: 1px;
  background: #979797;
  z-index: 1;
  opacity: 0.5;
}
.error-message {
  margin-top: 0.5rem;
  font-size: 12px;
  color: #a80000;
  background: #9f9f9f;
  padding: 3px 9px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
}
.error-message span {
  color: #a80000;
}
